<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>657913158785-iugc10fcrm02pg39pfe2s163qcj3pok6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657913158785-iugc10fcrm02pg39pfe2s163qcj3pok6</string>
	<key>API_KEY</key>
	<string>AIzaSyB7cRyK8Q9mYKr06E8XEvXxN7vucmw1zQw</string>
	<key>GCM_SENDER_ID</key>
	<string>657913158785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daraladje.yard</string>
	<key>PROJECT_ID</key>
	<string>yard-29be0</string>
	<key>STORAGE_BUCKET</key>
	<string>yard-29be0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657913158785:ios:2ee0bfc4f34c3dc7</string>
	<key>DATABASE_URL</key>
	<string>https://yard-29be0.firebaseio.com</string>
</dict>
</plist>